<div class="flex flex-row flex-wrap">
  <div class="m-2">
    <input type="text" pInputText [(ngModel)]="valueString" />
  </div>

  <div class="m-2">
    <!-- <input
      pInputText
      pKeyFilter="int"
      placeholder="Integers"
      [(ngModel)]="value"
    /> -->
  </div>

  <div class="m-2">
    <input pInputText class="ng-invalid ng-dirty" [(ngModel)]="value3" />
  </div>

  <div class="m-2">
    <input
      id="disabled-input"
      type="text"
      pInputText
      [disabled]="true"
      [(ngModel)]="value4"
    />
  </div>
</div>
