<div class="card">
  <p-card class="m-2" header="AutoComplete">
    <auto-complete></auto-complete>
  </p-card>

  <p-card class="m-2" header="Calendar">
    <app-calender></app-calender>
  </p-card>

  <p-card class="m-2" header="CascadeSelect">
    <app-cascade-select></app-cascade-select>
  </p-card>

  <p-card class="m-2" header="Checkbox">
    <app-checkbox></app-checkbox>
  </p-card>

  <p-card class="m-2" header="Chips">
    <app-chips></app-chips>
  </p-card>

  <p-card class="m-2" header="ColorPicker">
    <app-colorpicker></app-colorpicker>
  </p-card>

  <p-card class="m-2" header="Dropdown">
    <app-dropdown></app-dropdown>
  </p-card>

  <p-card class="m-2" header="InputGroup">
    <app-input-group></app-input-group>
  </p-card>

  <p-card class="m-2" header="InputMask">
    <app-inputmask></app-inputmask>
  </p-card>

  <p-card class="m-2" header="InputSwitch">
    <app-input-switch></app-input-switch>
  </p-card>

  <p-card class="m-2" header="InputText">
    <app-input-text></app-input-text>
  </p-card>

  <p-card class="m-2" header="InputTextarea">
    <app-input-text-area></app-input-text-area>
  </p-card>

  <p-card class="m-2" header="InputNumber">
    <app-input-number></app-input-number>
  </p-card>

  <p-card class="m-2" header="Knob">
    <app-knob></app-knob>
  </p-card>

  <p-card class="m-2" header="KeyFilter">
    <app-key-filter></app-key-filter>
  </p-card>

  <p-card class="m-2" header="Listbox">
    <app-listbox></app-listbox>
  </p-card>

  <p-card class="m-2" header="MultiSelect">
    <app-multi-select></app-multi-select>
  </p-card>

  <p-card class="m-2" header="Password">
    <app-password></app-password>
  </p-card>

  <p-card class="m-2" header="RadioButton">
    <app-radio-button></app-radio-button>
  </p-card>

  <p-card class="m-2" header="Rating">
    <app-rating></app-rating>
  </p-card>

  <p-card class="m-2" header="SelectButton">
    <app-select-button></app-select-button>
  </p-card>

  <p-card class="m-2" header="ToggleButton">
    <app-togglebutton></app-togglebutton>
  </p-card>

  <p-card class="m-2" header="SplitButton">
    <app-split-button></app-split-button>
  </p-card>

  <p-card class="m-2" header="Table">
    <app-table></app-table>
  </p-card>

  <p-card class="m-2" header="Chart">
    <app-chart></app-chart>
  </p-card>

  <p-card class="m-2" header="Sign-in Block">+
    <app-sign-in-block></app-sign-in-block>
  </p-card>

  <p-card class="m-2" header="Sign-in Block">
    <app-pricing-plan-block></app-pricing-plan-block>
  </p-card>

  <p-card class="m-2" header="Sign-in Block">
    <app-marketing></app-marketing>
  </p-card>
</div>
